.active {
    display: inline-block;
}

figure>img {
    display: none;
    
}

figure{
    position: relative;
    height: 400px;
}

.slider {
    height: 500px;
}

.clickable {
    cursor: pointer;
}

.dot-section {
    background-color: rgba(0, 0, 0, .7);
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot {
    background-color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.dot.active {
    background-color: dodgerblue;
}